<div>
    <h2 id="page-heading">
        <span jhiTranslate="principalApp.tarjeta.home.title">Tarjetas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarjeta" [routerLink]="['/tarjeta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="principalApp.tarjeta.home.createLabel">
            Create a new Tarjeta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tarjetas?.length === 0">
        <span jhiTranslate="principalApp.tarjeta.home.notFound">No tarjetas found</span>
    </div>
    <div class="table-responsive" *ngIf="tarjetas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ultDigitos"><span jhiTranslate="principalApp.tarjeta.ultDigitos">Ult Digitos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="token"><span jhiTranslate="principalApp.tarjeta.token">Token</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="alta"><span jhiTranslate="principalApp.tarjeta.alta">Alta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cliente.id"><span jhiTranslate="principalApp.tarjeta.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tarjeta of tarjetas ;trackBy: trackId">
                <td><a [routerLink]="['/tarjeta', tarjeta.id, 'view' ]">{{tarjeta.id}}</a></td>
                <td>{{tarjeta.ultDigitos}}</td>
                <td>{{tarjeta.token}}</td>
                <td>{{tarjeta.alta}}</td>
                <td>
                    <div *ngIf="tarjeta.cliente">
                        <a [routerLink]="['/cliente', tarjeta.cliente?.id, 'view' ]" >{{tarjeta.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tarjeta', tarjeta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarjeta', tarjeta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarjeta', { outlets: { popup: tarjeta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
